<!-- This should be added right before end of body -->

{% if page.iis_slider_active %}
  <!-- Slider -->
  <script src="{{ "/assets/iislider/ideal-image-slider.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/iislider/iis-bullet-nav.js" | relative_url }}"></script>
  <script src="{{ "/assets/iislider/iis-captions.js" | relative_url }}"></script>
  <!-- Sliders on pages -->
  {% for script in page.iis_slider_scripts %}
    {{ script }}
  {% endfor %}
  <!-- Sliders on indexes -->
  {% for post in paginator.posts %}
    {% for script in post.iis_slider_scripts %}
      {{ script }}
    {% endfor %}
  {% endfor %}
{% endif %}
